/* YourComponent.css */

.animated-layout {
    position: relative;
    z-index: 1; /* Higher z-index to ensure it's visually above other elements */
    animation: yourAnimation 1s ease; /* Add your animation properties */
  }
  
  @keyframes yourAnimation {
    /* Define your animation keyframes here */
    from {
      /* Initial state */
      opacity: 0;
    }
    to {
      /* Final state */
      opacity: 1;
    }
  }
  .banner {
    width: 1000px;
    height: 230px;
    margin-left: 40px;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 20px;
  }
  