
.card-product img{
    position: absolute;
    z-index: 2;
    width: 240px;
    height: 150px;
    clip-path: circle(75px at 50% 50%);
}
.product{
    top: 50px;
    position: absolute;
    margin-left: 20px;
    height: 250px;
    width: 200px;
}
.product p {
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}